# Environment variables / API keys
.env

# Python virtual environment
.venv/

# PyCharm settings
.idea/

# ChromaDB local database
chroma_db/

# Python cache
__pycache__/
*.pyc

#User documents
documents/*
!documents/.gitkeep